.card-header{
    font-size: 25px;
}
.form-control{
    display: unset;
    width: 130px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}
.search{
    justify-content: center;
}
.row{
    background: rgb(62, 207, 207);
    border: 1px solid rgb(216, 253, 253);
    color: white;
    font-size: 18px;
}
.temp_img{
    width: 40px;
    height: 45px;
}
.humidity_img{
    width: 40px;
    height: 45px;
}
.pressure_img{
    width: 40px;
    height: 45px;
}
.speed_img{
    width: 40px;
    height: 35px;
}
.icon_img{
    background: lightblue;
    width: 110px;
    height: 110px;
}
.title_name{
    font-size: 20px;
    justify-content: flex-start;
}
.validationCustom03{
    vertical-align: inherit;
}
